* {
  margin: 0;
  padding: 0;
  font-family: Bree Serif;
}

.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: #f0bb03;
  margin: 25px;
  font-size: 75px;
}
h2 {
  color: #ffffff;
  margin: 15px;
  font-size: 35px;
}
button {
  background-color: white;
  color: #1e293b;
  border: none;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
}
.buttonContainer {
  text-align: center;
}
